@tailwind base;
@tailwind components;
@tailwind utilities;
.radio{
    display: none;
}


.animate-on-view {
    opacity: 0;
    transform: translateX(-60px);
    transition: opacity 0.5s ease, transform 1.5s ease;
  }

  .animate-on-view.show {
    opacity: 1;
    transform: translateY(0);
  }